<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubusi.packagehub.core.mapper.DocMapper">
    <insert id="insertBatch">
        insert into doc (
        id ,
        parent_id ,
        name ,
        value ,
        dict_code
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id} ,
            #{item.parentId} ,
            #{item.name} ,
            #{item.value} ,
            #{item.dictCode}
            )
        </foreach>
    </insert>
    <update id="updatePositionByBefore">
        update doc set position = position -1 where parent_id = (select parent_id from (select parent_id from doc where id = #{destId})a)
          and position &lt; (select position from (select position from doc where id = #{destId})b);
        update doc set position = (select position from (select (select position from doc where id = #{destId})-1 position) position),
          parent_id = (select parent_id from (select parent_id from doc where id = #{destId}) parent_id) where id = #{id};
    </update>
    <update id="updatePositionByAfter">
        update doc set position = position +1 where parent_id = (select parent_id from (select parent_id from doc where id = #{destId})a)
          and position > (select position from (select position from doc where id = #{destId})b);
        update doc set position = (select position from (select (select position from doc where id = #{destId})+1 position) position),
          parent_id = (select parent_id from (select parent_id from doc where id = #{destId}) parent_id) where id = #{id};
    </update>
    <update id="updatePositionByInner">
        update doc set position =
          (select position from (select IFNULL((select min(position) from doc where parent_id = #{destId})-1, 888)position)position),
          parent_id = #{destId} where id = #{id};
    </update>

    <select id="getDocMenu" resultType="com.liubusi.packagehub.core.pojo.vo.DocMenuVO">
        SELECT T2.level, T3.*
        FROM(
                SELECT @codes as _ids,
			( SELECT @codes := GROUP_CONCAT(id)
				FROM doc
				 WHERE FIND_IN_SET(parent_id, @codes)
			) as T1,
		  @l := @l+1 as level
                FROM doc,
                    (SELECT @codes := #{id}, @l := -1 ) T4
                WHERE @codes IS NOT NULL
            ) T2, doc T3
        WHERE FIND_IN_SET(T3.id, T2._ids)
          and id != #{id}
        ORDER BY level, position
        ;
    </select>

    <insert id="save">
        insert into doc (`id`, `doc_title`, `parent_id`) value (#{id}, #{docTitle}, #{parentId})
    </insert>
</mapper>
